table {
    width: 600px;
}

a {
    color: blue;
    text-decoration: underline;
}

.item-kuliah {
    margin-bottom: 20px;
    font-size: 14px;
}

.item-meta {
    font-style: italic;
    color: #555;
}

.item-desc {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}