.container {
    background-color: maroon;
    display: inline-block;
    padding: 10px 20px;
}

#awal {
    color: white;
    font-size: 40px;
}

#kedua {
    color: black;
    font-size: 40px;
    vertical-align: -7px;
}