ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    margin-right: 3px;
    position: relative;
}

li a {
    display: block;
    width: 120px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px dotted grey;
}

li a:hover {
    background-color: black;
    color: white;
}

li ul {
    display: none;
}

li ul li {
    float: none;
    margin: 0;
}

li:hover ul {
    display: block;
}