input {
    width: 300px;
}

textarea {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    resize: none;
}

td {
    vertical-align: top;
}

.wrap-penghitung {
    display: flex;
    justify-content: flex-end;
}

.penghitung {
    width: 70px;
    text-align: right;
}